@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    align-items: center;
}

.rounded-3 {
    width: 80%;
}

#payment-card{
    margin-top: 60px;   
}

#save-changes-btn {
    width: 100%;
    border-radius: 10px;
    background-color: #DD592D;
    border-color: #DD592D;
    height: 50px;
    font-weight: 400;
    transition: .3s all ease;
    font-size: 16px;
    color: white;
}
button#save-changes-btn:hover
{
    background-color: #DD5224;
    color: #fff;
}
button#save-changes-btn:active
{
    background:#DD592D;
}

#back-btn {
    height: 45px;
    background-color: #fff;
    color: #DD592D;
    font-size: 18px;
}
a {
    -webkit-transition: .1.5s all ease;
    transition: .1.5s all ease;
    color: #DD592D;
    font-weight: 300;
    text-decoration: none;
}
  
a:hover {
    color: #DD5224;
    font-weight: 400;
    text-decoration: none;
}

