body {
    font-family: Lato, sans-serif !important;
}

.nb-page{
    margin-left: 240px;
    margin-right: 240px;
}

.nb-navbar {
    background: rgb(38,38,38);
    background: linear-gradient(0deg, rgba(38,38,38,0) 0%, rgba(38,38,38,1) 100%);
}

.icon {
    padding-left: 240px;
}

.nb-profile {
    padding-right: 240px; 
}